/* ==========================================================================
   #home-widgets-one-slot
   Ajankohtaista section
   ========================================================================== */
.widget_category_posts {
  background-color: #fff;
  color: #515151;
  list-style: none;
}

.widget_category_posts .widget-entry-date {
  font-size: 1rem;
}

.widget_category_posts h1 {
  margin: 0;
}

.widget_category_posts ul {
  margin: 0 5%;
  padding-left: 0;
}

@media (min-width: 767px) {
  .widget_category_posts ul {
    margin: 0;
    padding-left: 1rem;
  }
}

.widget_category_posts .widgettitle {
  padding: 1.5rem;
  margin-top: 0;
}

.widget_category_posts ul.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.widget_category_posts ul.flex-container .flex-item {
  padding: 5px;
  width: 200px;
  margin-top: 10px;
}

.widget_category_posts ul.widget_list li {
  list-style: none;
  padding-bottom: 30px;
}

.widget_category_posts ul.widget_list li a {
  /*  color: $themetextcolor;*/
}

.widget_category_posts ul.widget_list li a:hover {
  border-bottom: 1px solid black;
}

.widget_category_posts ul.widget_list .widget-entry {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.widget_category_posts ul.widget_list .widget-entry-meta {
  opacity: 0.8;
}

.widget_category_posts ul.widget_list .widget-entry-content {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 0;
  display: block;
}

.widget_category_posts ul.widget_list .widget-entry-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 0;
  display: block;
}

.widget_category_posts.horizontal {
  padding: 0 0 5%;
  margin: 0 0 5%;
}
