/* ==========================================================================
   #home-widgets-one-slot
   Ajankohtaista section
   ========================================================================== */
$themebgcolor: #fff;
$themetextcolor: #515151;
// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;
// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;
// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;
// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
@mixin smplus {
  @media (min-width: $screen-xs-max) {
    @content
  }
}

.widget_category_posts {
  background-color: $themebgcolor;
  color: $themetextcolor;
  list-style: none;
  .widget-entry-date {
    font-size: 1rem;
  }
  h1 {
    margin: 0;
  }
  ul {
    margin: 0 5%;
    padding-left: 0;
    @include smplus {
      margin: 0;
      padding-left: 1rem;
    }
  }
  .widgettitle {
    padding: 1.5rem;
    margin-top: 0;
  }
  ul.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    .flex-item {
      padding: 5px;
      width: 200px;
      margin-top: 10px;
    }
  }
  ul.widget_list {
    li {
      list-style: none;
      padding-bottom: 30px;
      a {
        /*  color: $themetextcolor;*/
      }
      a:hover {
        border-bottom: 1px solid black;
      }
    }
    .widget-entry {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    .widget-entry-meta {
      opacity: 0.8;
    }
    .widget-entry-content {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 10px 0;
      display: block;
    }
    .widget-entry-title {
      font-size: 1.5rem;
      font-weight: 500;
      padding: 10px 0;
      display: block;
    }
  }
}

.widget_category_posts.vertical {
}
.widget_category_posts.horizontal {
  padding: 0 0 5%;
  margin: 0 0 5%;
}
